---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Publications">
    <header class="p-20 bg-[#18453B] w-full">
        <h1 class=" text-5xl text-center text-white">Publications</h1>
    </header>
</Layout>