---
import { Image } from "astro:assets";
import Background from "../assets/hero_background3.png";
---

<!-- Outer container handles layout -->
<div class="flex h-[450px] w-full">
  <div
    class="relative max-h-[450px] w-full flex flex-col justify-start align-middle"
  >
    <!-- Actual image -->
    <Image
      src={Background}
      alt="Background Farmland"
      class="w-full h-full object-cover"
    />

    <!-- Dim overlay exactly covering the image -->
    <div
      class="absolute inset-0 bg-black bg-opacity-35 pointer-events-none text-center flex flex-col justify-center align-middle items-center"
    >
      <slot />
    </div>
  </div>
</div>
