---
import MSULogo from '../assets/combomark.svg';

---
<nav class="relative flex flex-row justify-between items-center px-10 py-4">
    <a href="/" class="flex flex-row gap-2 justify-center align-middle items-center">
        <img src={MSULogo.src} alt="MSU Irrigation Laboratory" width="160" height="160" />
        <h2 class="font-garamond text-4xl text-center text-[#18453B]">IRRIGATION</h2>
    </a>
    <div class="relative">
        <ul class="flex flex-row items-center gap-5">
            <li class="group relative">
                <a href="/research" class="hover:text-[#18453B] inline-block">Research</a>
            </li>
            <li class="group relative">
                <a href="/publications" class="hover:text-[#18453B] inline-block">Publications</a>
            </li>
            <li class="group relative">
                <a href="/news" class="hover:text-[#18453B] inline-block">News</a>
            </li>
            <li class="group relative">
                <a href="/team" class="hover:text-[#18453B] inline-block">Team</a>
            </li>
            <li class="group relative">
                <a href="/contact" class="hover:text-[#18453B] inline-block">Contact</a>
            </li>
            <li class="group relative">
                <a href="/login" class="hover:text-[#18453B] inline-block">Login</a>
            </li>
        </ul>
        <!-- Underline element -->
        <div
            id="underline"
            class="absolute bottom-0 h-[2px] bg-[#18453B] transition-all duration-300 ease-in-out pointer-events-none"
        ></div>
    </div>
</nav>