---
import { Image } from "astro:assets";
import Outreach from "../assets/outreach.jpeg";
---

<div class=" w-[100vw] h-auto flex justify-center items-center">
  <div class="max-w-[1800px] w-full flex flex-row justify-evenly p-10">
    <div
      class="flex flex-col justify-center text-left text-[#18453B] max-w-[650px]"
    >
      <h2 class="text-5xl">Welcome!</h2>
      <br />
      <p class="text-2xl">
        Our mission is to promote efficient and sustainable irrigation management
        through research and outreach activities to conserve water and energy,
        improve disease management, reduce nutrient leaching, increase crop yield
        and grain quality, and maximize return on investments.
      </p>
    </div>
    <Image
      src={Outreach}
      alt="MSU outreach"
      class="w-auto max-w-[900px] h-auto max-h-[400px]"
    />
  </div>
</div>
